<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\PassengerPaymentOption $passengerPaymentOption
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('List Passenger Payment Option'), ['action' => 'index']) ?></li>
    </ul>
</nav>
<div class="passengerPaymentOption form large-9 medium-8 columns content">
    <?= $this->Form->create($passengerPaymentOption) ?>
    <fieldset>
        <legend><?= __('Add Passenger Payment Option') ?></legend>
        <?php
            echo $this->Form->control('payment_option');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
